body {
    background: #1c682fb4;
    color: #022444;
    padding: 25px;
    font-family: 'American Typewriter';
    max-width: 1024px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

.profile-image {
    width: 320px;
    margin-inline-end: 4rem;
    border-radius: 5rem;
}
.article-image {
    width: 200px;
    border-radius: 1.25rem;
    margin-inline-start: 4rem;
}
.bio {
    display: flex;
}

a.button {
    text-decoration: none;
    color:whitesmoke;
    background: rgb(1, 1, 149);
    padding: 0 1rem;
    height: 2.5 rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;


}
article {
    display: flex;
}

@media (max-width: 1024px) {
    .bio {
        flex-direction: column;
    }
    article {
        flex-direction: column;
    }
    .article-image {
        width: 100%;
    }
}

/* separator bars */ 
section nav {
  border-block-end: 1px solid var(--primary);
}